@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AccentGraphicBold';
  src: url('/fonts/AccentGraphicBold Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AccentGraphicLight';
  src: url('/fonts/AccentGraphicLight Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f3f4f6; /* bg-mavi-gray */
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #1e3a8a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1e40af;
}
